fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
prophet
xgboost
python-multipart
plotly
requests
textblob
google-generativeai
python-dotenv
opencv-python
torch
torchvision
ultralytics
tensorflow
supervision